* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black-color: rgb(24, 24, 24);
    --gray-color: rgb(180, 180, 180);
    --white-color: rgb(214, 214, 214);
    --clear-color: rgb(255, 255, 255);
    --blue-color: rgb(70, 70, 198);
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100vw;
}

button {
    padding: 5px;
    width: 100px;
    height: 30px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 5px;
    box-shadow: 2px 2px 5px var(--black-color);
}

input {
    padding: 8px;
}


.btn-accept {
    background-color: var(--blue-color);
    color: var(--white-color);
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.full-content-container {
    width: 100vw;
    height: 100vh;
}

.input-border-bottom {
    border: none;
    border-bottom: 1px solid var(--black-color);
    outline: none;
}

.primary-center {
    justify-content: center;
}

.secondary-center {
    align-items: center;
}

.primary-space-evenly {
    justify-content: space-evenly;
}

.sm-input-width {
    width: 33%;
}

.md-input-width {
    width: 66%;
}

.bg-input-width {
    width: 80%;
}